body {
    background-color: #dff3ff;
    font-family: Arial, sans-serif;
    text-align: center;
}


/* Main Weather Card */

.weather-card {
    background-color: white;
    border: 3px solid #2980b9;
    border-radius: 20px;
}


/* App Name */

.app-name {
    color: #2980b9;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
}


/* Location */

.location {
    color: #222;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}


/* Time */

.time {
    color: #777;
    font-size: 14px;
    font-style: italic;
    letter-spacing: 1px;
}


/* Weather Icon */

.weather-icon {
    font-size: 55px;
}


/* Temperature */

.temperature {
    color: #1b6ca8;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 2px 2px 4px gray;
}


/* Weather Condition */

.condition {
    color: #444;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}


/* Weather Information */

.weather-info {
    background-color: #eef8ff;
    border: 2px solid #7fb8d8;
    border-radius: 12px;
}


/* Information Title */

.info-title {
    color: #777;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}


/* Information Value */

.info-value {
    color: #222;
    font-size: 20px;
    font-weight: bold;
}


/* Bottom Text */

.bottom-text {
    color: #2980b9;
    font-size: 13px;
    font-style: italic;
    letter-spacing: 1px;
    text-transform: uppercase;
}
